<a href="https://colab.research.google.com/github/acmoral/SistemasInteligentes/blob/main/Taller3_Kmeans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Taller 3: Clustering

In [ ]:
import pandas as pd
import numpy as np

**Importante:** _Cuando vaya enviar el notebook a UNCode no olvide comentar la siguiente celda_

In [ ]:
#try:
 # import google.colab
 # IN_COLAB = True
#except:
 # IN_COLAB = False

#if IN_COLAB:
 #   !wget https://sites.google.com/a/unal.edu.co/mineria-de-datos-2012-2/credit-german.csv

--2020-06-17 21:08:31--  https://sites.google.com/a/unal.edu.co/mineria-de-datos-2012-2/credit-german.csv
Resolving sites.google.com (sites.google.com)... 74.125.203.100, 74.125.203.113, 74.125.203.101, ...
Connecting to sites.google.com (sites.google.com)|74.125.203.100|:443... connected.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://sites.google.com/a/unal.edu.co/mineria-de-datos-2012-2/credit-german.csv?attredirects=0 [following]
--2020-06-17 21:08:31--  https://sites.google.com/a/unal.edu.co/mineria-de-datos-2012-2/credit-german.csv?attredirects=0
Reusing existing connection to sites.google.com:443.
HTTP request sent, awaiting response... 302 Moved Temporarily
Location: https://e6c3d1db-a-f56cbe42-s-sites.googlegroups.com/a/unal.edu.co/mineria-de-datos-2012-2/credit-german.csv?attachauth=ANoY7cqOh_weQ0T1VXB0dY9ivih0xZzSjFnoMKi_6tbd06Cu5fxc_0NQSsK8oso7q2OkEBdmxg1JV34r95euyCOuuk4Eo72Nv6psd2fnwn-nZdwfSDQ6L7GS7tPhaW2D0X85aH4QeIOegZaBFq73i8XRCx6Cxv2ismS_2ggIb0UaSRaZ1jAMeDVQYLE4fKwQ-GMIjWgrdNJP0fVV27E-9noOARNpk4HcbgpDByYxQ7NXUIS85yYyqCA%3D&attredirects=0 [following]
--2020-06-17 21:08:32--  https://e6c3d1db-a-f56cbe42-s-sites.googlegroups.com/a/unal.edu.co/mineria-de-datos-2012-2/credit-german.csv?attachauth=ANoY7cqOh_weQ0T1VXB0dY9ivih0xZzSjFnoMKi_6tbd06Cu5fxc_0NQSsK8oso7q2OkEBdmxg1JV34r95euyCOuuk4Eo72Nv6psd2fnwn-nZdwfSDQ6L7GS7tPhaW2D0X85aH4QeIOegZaBFq73i8XRCx6Cxv2ismS_2ggIb0UaSRaZ1jAMeDVQYLE4fKwQ-GMIjWgrdNJP0fVV27E-9noOARNpk4HcbgpDByYxQ7NXUIS85yYyqCA%3D&attredirects=0
Resolving e6c3d1db-a-f56cbe42-s-sites.googlegroups.com (e6c3d1db-a-f56cbe42-s-sites.googlegroups.com)... 74.125.203.137, 2404:6800:4008:c03::89
Connecting to e6c3d1db-a-f56cbe42-s-sites.googlegroups.com (e6c3d1db-a-f56cbe42-s-sites.googlegroups.com)|74.125.203.137|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘credit-german.csv’

credit-german.csv       [ <=>                ] 134.90K  --.-KB/s    in 0.05s

2020-06-17 21:08:33 (2.62 MB/s) - ‘credit-german.csv’ saved [138139]

Primero vamos a leer un conjunto de datos para scoring de crédito:

In [ ]:
df = pd.read_csv("credit-german.csv", sep=";")
df

    checking_status  disc_duration  ... foreign_worker class
0                <0              6  ...            yes  good
1          0<=X<200             48  ...            yes   bad
2       no checking             12  ...            yes  good
3                <0             42  ...            yes  good
4                <0             24  ...            yes   bad
..              ...            ...  ...            ...   ...
995     no checking             12  ...            yes  good
996              <0             30  ...            yes  good
997     no checking             12  ...            yes  good
998              <0             45  ...            yes   bad
999        0<=X<200             45  ...            yes  good

[1000 rows x 19 columns]

Procesamos el dataframe para convertir las variables categóricas en númericas usando one-hot-encoding (variables binarias representando cada valor de una variable categórica):

In [ ]:
df = pd.get_dummies(df)
df

     disc_duration  credit_amount  ...  class_bad  class_good
0                6           1169  ...          0           1
1               48           5951  ...          1           0
2               12           2096  ...          0           1
3               42           7882  ...          0           1
4               24           4870  ...          1           0
..             ...            ...  ...        ...         ...
995             12           1736  ...          0           1
996             30           3857  ...          0           1
997             12            804  ...          0           1
998             45           1845  ...          1           0
999             45           4576  ...          0           1

[1000 rows x 65 columns]

## 1. Escale los datos
Cree una función que reciba el dataframe con los datos y retorne un arreglo de numpy con los datos. Los datos deben estar escalados de manera que para cada columna el menor valor es 0 y el mayor 1.

In [ ]:
from sklearn.preprocessing import MinMaxScaler

def escalar(df):
    '''
    df: dataframe con los datos
    Returns:
    X: arreglo de numpy con los datos escalados
    '''

    ## Your code here
    X = numpy.array(df)
    return X

## 2. Entrene un modelo de agrupamiento

Escriba una función que reciba la matriz de datos y entrene un modelo de clustering. La función debe retornar el modelo entrenado.

In [ ]:
from sklearn.cluster import KMeans

def clustering(X, k):
    '''
    X: arreglo de numpy con los datos 
    k: número de clusters
    Returns:
    km: instancia de KMeans entrenada con X
    '''
    ## Your code here
    km = None
    return km

## 3. Calcule el número de elementos en cada cluster

Escriba una función de que reciba un modelo entrenado de clustering y un conjunto de datos. Aplique el modelo de clustering a los datos (no debe reentrenar solo predecir) y calcule cuantos datos quedaron en cada cluster.

In [ ]:
def num_elems(km, X):
    '''
    km: modelo KMeans preentrenado
    X: arreglo de numpy con los datos 

    Returns:
    num: arreglo de numpy con el número de datos por cluster
    '''
    ## Your code here
    num = None
    return num

# 4. Calcule los centroides

Escriba una función que reciba un modelo de KMeans entrenado y retorne un centroide de un cluster particular.

In [ ]:
def centroid(km, n):
    '''
    km: modelo KMeans preentrenado
    n: índice del cluster

    Returns:
    centroid: arreglo de numpy con el centroide del cluster
    '''
    ## Your code here
    centroid = None
    return centroid

# 5. Calcule las edades promedio de cada cluster
Escriba una función que calcule la edad promedio de las muestras en cada cluster. Estas edades deben ser reportadas en la escala original. La función debe recibir un modelo entrenado (usando los datos escalados) y los datos escalados usados para entrenar el modelo y debe retornar un vector con las edades promedio de cada cluster. Las edades deben estar en las escala original (no escaladas entre 0 y 1).

In [ ]:
def age(km, X):
    '''
    km: modelo KMeans preentrenado
    X: arreglo de numpy con los datos 

    Returns:
    ages: arreglo de numpy con el valor de las edades promedio
    '''
    ## Your code here
    ages = None
    return ages

## 6. Calcule el porcentaje de buenos deudores en cada cluster

Escriba una función que calcule el porcentaje de buenos deudores en cada uno de los clusters. La función recibe un modelo preentrenado y los datos usados para entrenar el modelo y debe retornar un vector con los porcentajes.

In [ ]:
def classes(km, X):
    '''
    km: modelo KMeans preentrenado
    X: arreglo de numpy con los datos 

    Returns:
    percentages: arreglo de numpy con el valor de los porcentajes
    '''
    ## Your code here
    percentages = None
    return percentages

# 7. Calcule la característica que más diferencia dos clusters

Escriba una función que calcule la característica que es más diferente entre dos clusters dados. La función debe recibir el dataframe original con los datos, un modelo de clustering preentrenado y los índices de los clusters que se quieren comparar.

In [ ]:
def most_different(df, km, n, m):
    '''
    df: dataframe con los datos
    km: modelo KMeans preentrenado
    n: índice del primer cluster
    m: índice del segundo cluster
    Returns:
    (feat, val1, val2)
    feat: string con el nombre de la característica
    val1: valor de la característica para el cluster n
    val1: valor de la característica para el cluster m
    '''
    ## Your code here
    feat = ''
    val1 = 0
    val2 = 0
    return (feat, val1, val2)

# 8. Calcule el número de clusters usando el método del codo

Diseñe una función que reciba un modelo de kmeans (no preentrenado) y encuentre un valor *óptimo* para el número de clusters usando la estrategia del codo. El valor óptimo es el máximo valor de $k$ tal que el incremento de la inercia entre $k-1$ y $k$ es al menos de un 2%. Su función no debe crear una nueva instancia del modelo de kmeans. Debe usar la función `km.set_params(n_clusters=k)` para fijar el número de clusters.

In [ ]:
def elbow(km, X, n):
    '''
    km: modelo KMeans
    X: arreglo de numpy con los datos
    n: valor máximo del número de clusters a explorar

    Returns:
    (k, inertia)
    k: número óptimo de clusters
    inertia: valor de la inercia correspondiente a k clusters
    '''
    ## Your code here
    k = 0
    inertia = 0
    return (k, inertia)